app-header {
  .header__headline {
    font-family: var(--unnamed-font-family-heebo-medium);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: 24px;
    margin: 20px 0px;
  }
  .header__nav {
    margin-top: 25px;
    margin-bottom: 15px;
    font: normal normal normal 14px/21px Heebo;
  }
  mat-form-field {
    background-color: var(--div-bgColor);
    border-radius: 10px;
    margin-top: 12px;
    .mat-form-field-wrapper {
      padding: 0px;
    }
  }
  .mat-form-field-infix {
    padding: 0px;
    border: none;
    height: 40px;
  }
  mat-select {
    height: inherit;
  }
  .mat-select-trigger {
    height: inherit;
    padding-left: 16px;
  }
  .mat-select-arrow {
    border: solid var(--arrow__color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
  .mat-button-wrapper {
    color: var(--icon__color);
  }
  .mat-select-value {
    padding-top: 10px;
    padding-right: 17px;
  }
  .mat-date-range-input-start-wrapper{
    // position: static;
    // background-color: black;
  }
  .mat-date-range-input-inner{
    position: static;
    // background-color: aqua;
  }
  .mat-date-range-input-inner{
    width: 50%;
  }
  .mat-date-range-input-start-wrapper .mat-date-range-input-inner{
    position: static;
  }

}
    .mat-select-panel:not([class*=mat-elevation-z]){
      border-radius: 20px;
        
    }
    mat-option:hover{
      background-color: blue !important;
      color: white;
    }
