:root {
  --page-bgColor: #3240ff14;
  --div-bgColor: #ffffff;
  --icon_inside_icon-bgColor: #eff0ff;
  --icon-bgColor: #f3dcf9;
  --buttun__borderColor-mobile : #3240FF4E;
  --buttun__borderColor-desktop : #45495380;
  --arrow__color : #2C3548 ;
  --icon__color : #3240FF ;
  --border__content--mobile : #D0D3DB;
  --header__text-color : #454953 ;
  --content-desktop__border__color : #70707033;
}
