:root {
font-family-heebo: 'Heebo';
font-family-heebo-medium: 'Heebo Medium';
font-style-normal: 'normal';
font-weight-normal: 'normal';
font-size-16: 16px;
font-size-20: 20px;
character-spacing-0: 0px;
character-spacing--0-4: -0.4px;
line-spacing-24: 24px;
line-spacing-29: 29px;
}
